<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="record" default="false"/>
    <arg name="duration" default="30"/>
    <arg name="rec_name" default="aruco_detection.bag"/>
    
    <include 
        file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"  value="$(find task_1)/worlds/task1_2.world"/>
    </include>
    <node name="moving_marker" type="moving_marker.py" pkg="task_1" />
    
	<group if="$(arg record)">
		<node name="throttled_model_states" type="throttle" pkg="topic_tools" args="messages /gazebo/model_states 10"/>
		<node name="rosbag_record_aruco" pkg="rosbag" type="record"
		   args="record -O $(find task_1)/bag_files/$(arg rec_name) --duration=$(arg duration) --chunksize=10 /marker_info /gazebo/model_states_throttle" output="screen"/>

	</group>
</launch>
