<?xml version="1.0"?>
<launch>
	<arg name="record" default="false"/>
    <arg name="duration" default="300"/>
    <arg name="rec_name" default="waypoint_mission.bag"/>

	<env name="PX4_HOME_LAT" value="19.134423"/>
	<env name="PX4_HOME_LON" value="72.911763"/>

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="udp://:14540@:14557"/>
	</include>

	<include file="$(find px4)/launch/posix_sitl.launch">
		<arg name="world" value="$(find task_2)/worlds/task2_1.world"/>
	</include>

	<group if="$(arg record)">
		<node name="rosbag_record_waypoint_misson" pkg="rosbag" type="record"
		   args="record -O $(find task_2)/bag_files/$(arg rec_name) --duration=$(arg duration) --chunksize=10 /mavros/global_position/global mavros/mission/waypoint" output="screen"/>

	</group>

</launch>
